.matrix {
  border: 2px solid #000;
  padding: 3px 1px 1px 3px;
  /* width:228px; */
  :global(.line) {
    display: flex;
  }
}

.block {
  display: block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 2px solid #879372;
  margin: 0 2px 2px 0;
  /* float: left; */
  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #879372;
    overflow: hidden;
  }
  &:global(.c) {
    border-color: #000;
    &:after {
      background: #000;
    }
  }
  &:global(.d) {
    border-color: #560000;
    &:after {
      background: #560000;
    }
  }
}
